<div class="card p-5 m-5">
    <p>Some text that i have been writing all fucking daaaaaayyy</p>
</div>

<div class="card p-5 m-5">
    <p>Some more text ble ble bla bla bla </p>

    <p class="text"> Bonjour mes amis, je parle de France a vous. Est-ce que vous aimez la
        France? Moi, pas tres bien. Porquoi? Parce que, mon petit chat </p>

    <p class="" hidden> Bonjour mes amis, je parle de France a vous. Est-ce que vous aimez la
        France? Moi, pas tres bien. Porquoi? Parce que, mon petit chat </p>
</div>

<div>Block tag</div>
<span class="">Inline tag</span>
<span class="inline-block">Inline-block tag</span>

<button class="btn btn-dark">Inline-block tag</button>

<div class="box">
    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>

    <span class="block">Inline-block</span>
</div>