<div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p>blablbalb</p>

    <button type="button" class="btn btn-primary">Купити</button>
    <div id="user" class="box">blablablablablablablablablablablabla</div>
    <div>blablablablablablablablablablablabla</div>
</div>