<div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p>blablbalb</p>

    <button type="button" class="btn btn-primary">Купити</button>
    <div id="user" class="box">blablablablablablablablablablablabla</div>
    <div>blablablablablablablablablablablabla</div>
</div>
<div class="card card-dark">
    <ul>
        <li class="item">1</li>
        <li class="item">2</li>
        <li class="item">3</li>
        <li class="item">4</li>
        <li class="item">5</li>
    </ul>
</div>
<div class="card card-dark">
    <ul>
        <li class="item">1</li>
    </ul>
</div>
<div class="card">
    <div class="item2">First</div>
    <div class="item2">First</div>
    <div class="item2">First</div>
    <p class="item2">Second</p>
    <p class="item2">Second</p>
    <p class="item2">Second</p>
    <article class="item2">Last</article>
    <div></div>
    <article class="item2">Last</article>
    <article class="item2">Last</article>
    <strong class="item2">Blblbalba</strong>

</div>