<div lang="fr" class="card p-5 m-5 card-dark">
    <a class="link" href="#test">Click me</a>
    <span>Bonjour, comment ca va? Je suis Yakiv, j`habite en France.</span>
    <div>
        <button>Salut, ca va bien</button>
        <button disabled>C`est la vie</button>
    </div>
</div>

<div lang="en" id="test" class="card p-5 m-5 card-dark">
    <input class="inp">

    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Third checkbox</span>
        </div>
    </div>
</div>

<div class="card-dark p-5 m-5">
    <input type="email" required class="valid" placeholder="test">
    <span>Test text</span>
    <input type="email" class="valid">
    <br>
    <br>
    <input type="number" min="10" max="20" value="0" class="number-input">
</div>