<div class="card p-5 m-5 card-dark">
    <input class="input-dark p-5" placeholder="This is text" required>
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark">
    <img alt="image card small 100px" class="small-img" src="https://picsum.photos/200/300" height="100px" />
    <br>
    <button class="btn-primary">Click me</button>
    <br>
    <a class="btn btn-secondary" href="https://picsum.photos/200/300">Hellloooo</a>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="big-text">This is some text thah i have been created for about 35 minutes <br>and 13 seconds</p>
</div>