<main class="p-5">

    <div class="card p-5">
        <p>
            Hello World!Hello World! Hello World! Hello World!Hello World! Hello World! Hello World! Hello World Hello
            World! Hello World Hello World!
        </p>
        <span>Some text</span>
    </div>
    <pre>some text  as   add    addf</pre>
</main>