:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #dee2e6;
  --color-white: #fff;
  --color-title: #5a5a5a;
  --color-text: #6c757d;
  --color-primary: #563d7c;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text: 400;
}

/* ============================ */

.page {
  background-color: var(--color-white);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  font-family: Roboto;
}

/* =========================== */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background-color: var(--color-primary);

  width: 24px;
  height: 24px;

  border-radius: calc(var(--border-radius) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.footer {
  border-top: 1px solid var(--color-border);
  padding: var(--space-l) 0;

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
}

.hero {
  display: flex;
  align-items: center;
  gap: 80px;
}

.hero_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l);
}

.hero_title {
  font-weight: var(--weight-title);
  font-size: 36px;
  line-height: 120%;
  color: var(--color-title);
}

.hero_text {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  color: var(--color-text);
  line-height: 170%;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: var(--space-m) var(--space-xm);
  font-size: var(--size-d);
  border-radius: var(--border-radius);
}

.hero_button {
  color: var(--color-white);
  background-color: var(--color-text);
}

.featured {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l);

  padding: 0 var(--space-l);
  width: 33.33%;
}

.card_image {
  width: 64px;
  height: 64px;
  border-radius: var(--border-radius);
}

.card_title {
  font-size: 32px;
  font-weight: var(--weight-title);
  color: var(--color-title);
}

.card_info {
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: var(--color-text);
  line-height: 170%;
}

.card_button {
  font-size: var(--size-d);
  color: var(--color-primary);
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: var(--space-l);
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}

.action_item {
  color: white;
}

.action_title {
  font-weight: var(--weight-title);
  font-size: 24px;
  line-height: 16px;
  margin-bottom: var(--space-m);
}

.action_button {
  width: 240px;
  padding: 16px;
  text-align: center;
  font-size: var(--size-l);
  font-weight: var(--weight-text);
  color: var(--color-title);
  background-color: var(--color-white);
}
