:root {
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border: #dee2e6;
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #6c757d;
  --color-primary: #563d7c;
  --color-background: #f8f9fa;

  --border-radius-s: 4px;
  --border-radius-d: 12px;

  --weight-title: 700;
  --weight-text: 400;

  --page-width: 1000px;
}

/* ============================ */

.page {
  background-color: var(--color-white);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: var(--page-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;

  font-family: 'Roboto';
  font-style: normal;

  /* padding-top: 74px; */
}

/* =========================== */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;

  max-width: var(--page-width);
  width: 100%;

  background-color: var(--color-white);

  z-index: 1;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background-color: var(--color-primary);

  width: 24px;
  height: 24px;

  border-radius: calc(var(--border-radius-d) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;

  transition-property: color;
  transition-duration: 1s;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.footer {
  border-top: 1px solid var(--color-border);
  padding: var(--space-l) 0;

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
}

.main {
  display: flex;
  width: 100%;
  gap: 24px;

  align-items: flex-start;
}

.hero {
  max-width: 620px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  justify-content: center;
}

.hero_title {
  font-weight: var(--weight-title);
  font-size: 56px;
  line-height: 120%;
  color: var(--color-title);
  padding-right: 100px;
}

.hero_description {
  font-weight: var(--weight-text);
  font-size: var(--size-b);
  line-height: 150%;

  padding-right: 160px;
}
.form {
  max-width: 400px;
  width: 100%;

  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-d);

  padding: 60px 48px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_title {
  text-align: center;
  font-size: var(--size-b);
  font-weight: var(--weight-text);
  color: var(--color-title);
}

.form_input_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form_input {
  padding: var(--space-xm);
  border: 1px solid #ced4da;
  background-color: var(--color-white);
  border-radius: var(--border-radius-s);
}

.form_input::placeholder {
  color: var(--color-title);
  font-size: var(--size-d);
}

.form_checkbox {
  display: flex;
  gap: var(--space-s);
  align-items: center;
}

.form_checkbox > input {
  display: none;
}

.form_checkbox > input ~ div {
  border: 1px solid #767676;
  border-radius: var(--border-radius-s);
  height: 13px;
  width: 13px;
}

.form_checkbox > input:checked ~ div {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.form_checkbox > label {
  color: var(--color-title);
  font-size: var(--size-d);
  cursor: pointer;
}

.form_button {
  text-align: center;
  padding: var(--space-m);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-s);

  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_button:active {
  opacity: 0.3;
}

.line {
  height: 1px;
  background: var(--color-title);
  opacity: 0.25;
}

.form_info {
  text-align: center;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  color: #6c757d;
}

.updates {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l);

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius-s);
}

.updates_title {
  font-weight: var(--weight-text);
  font-size: var(--size-b);
  line-height: 80%;
  color: var(--color-title);

  padding-bottom: var(--space-m);
  border-bottom: 1px solid var(--color-border);
}

.upd {
  display: flex;
  align-items: flex-start;
  gap: var(--space-s);

  border-bottom: 1px solid var(--color-border);
}

.upd_username {
  font-weight: var(--weight-title);
  font-size: var(--size-s);
  line-height: 125%;
  color: var(--color-text);
}

.upd_description {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  color: var(--color-text);
  margin: var(--space-m) 0;
}

.updates_link {
  font-weight: var(--weight-text);
  font-size: var(--size-s);
  color: var(--color-primary);
  line-height: 137%;

  align-self: flex-start;
  text-decoration: none;

  transition-duration: 0.7s;
  transition-property: opacity border-color;

  border-bottom: 1px solid transparent;
}

.updates_link:hover {
  opacity: 0.7;
  border-color: var(--color-primary);
}

.expirience {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l);

  background-color: var(--color-background);
  border-radius: var(--border-radius-s);

  position: relative;
}

.expirience_title {
  font-weight: var(--weight-title);
  font-size: 42px;
  line-height: 120%;
  color: var(--color-title);
}

.expirience_list {
  display: flex;
  gap: var(--space-l);
}

.expirience_item {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: var(--space-xm);
  gap: var(--space-s);

  background-color: var(--color-title);
  border-radius: var(--border-radius-d);
}

.expirience_item_name {
  font-weight: var(--weight-title);
  font-size: var(--size-l);
  line-height: 130%;
  color: var(--color-white);
}

.expirience_item_details {
  font-family: 'Inter';
  font-style: normal;
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  line-height: 138%;
  color: #818181;
}

.expirience_badge {
  position: absolute;
  top: -20px;
  right: -30px;

  padding: var(--space-m) var(--space-l);

  background-color: #ff7347;
  color: var(--color-white);
  border-radius: 70px;

  transform: rotate(30deg);

  font-weight: var(--weight-title);
  font-size: var(--size-b);
  line-height: 120%;
}
