<div class="article">
    <div class="arcicle_img_box">
        <img class="article_img" src="{{photo}}">
        {{#if isNew}}
        <span class="article_badge">NEW</span>
        {{/if}}
    </div>
    <strong class="article_title">{{name}}</strong>
    <p class="article_text">{{description}}</p>
    <a class="article_action" href="#">Read All</a>
</div>